/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f2f5; /* Soft light gray */
  color: #222;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
